# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# template
vite-react-ssr-pro.png
stats.html

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
.wrangler

# production
/build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
errors.html
errors-unused.log
errors-ts.log
errors-eslint.log
src-errors

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo

# Cloudflare local secrets (wrangler pages dev)
.dev.vars
